<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Websocket Chat Example</title>
</head>

<body>

  <app-chat-header></app-chat-header>

  <div class="container">
      <router-outlet></router-outlet>
  </div>

  <!-- <div class="container">
      <button (click)="sendMessageToServer()">send Message to Server</button>
  </div> -->

</body>
</html>
